{% load i18n %}

<tr>
    <td style="word-break: break-word;">
        <table align="center" cellpadding="0" cellspacing="0" border="0" width="540" height="205">
            <tbody>
                <tr>
                    <td align="center">
                        <table width="600" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top"   colspan="3">
                                    <table width="600" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td colspan="4"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="25" height="20"></td>
                                        </tr>
                                        <tr>
                                            <td width="600" valign="bottom" align="center">


                                                {% with 'target="blank" href="https://roots-hamburg.de"'|safe as a_attr %}
                                                    {% blocktrans trimmed %}
                                                        <a {{ a_attr }}>
                                                 <img class="wide" src="https://roots-hamburg.de/fileadmin/user_upload/roots_logo.png"
                                                                style="max-height: 53px;">
                                                        </a>
                                                    {% endblocktrans %}
                                                {% endwith %}

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td colspan="3"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="540" height="25"></td></tr>
                            <tr><td><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="20" height="25"></td><td class="gutschein">Vielen Dank.<br /> Wir freuen uns über Ihre Zusage zur Grundsteinlegung.</td><td><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="20" height="25"></td></tr>
                              <tr><td colspan="3"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="540" height="25"></td></tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>


