{% load i18n %}

<tr>
    <td>
        <table class="Dbo-top" align="center" cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#f7f7f7" style="border-bottom: 1px solid #ebebeb;">
            <tbody>
                <tr style="background-color: #f7f7f7 !important;">
                    <td width="25"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="25" height="1"></td>
                    <td colspan="2">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="540" height="100">
                            <tbody>
                                <tr>
                                    <td>
                                        {% with 'target="blank" href="https://roots-hamburg.de"'|safe as a_attr %}
                                            {% blocktrans trimmed %}
                                            <a {{ a_attr }}><img style="display: block;" src="https://roots-hamburg.de/fileadmin/user_upload/roots_logo.png" alt="Logo" width="150" /></a>
                                            {% endblocktrans %}
                                        {% endwith %}
                                    </td>
                                    <td></td>
                                    <td width="45"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="25"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="25" height="1"></td>
                </tr>
                <tr>
                    <td colspan="4" style="border-top: 1px solid #ebebeb;"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="600" height="25"></td>
                </tr>
                <tr style="background-color: #f7f7f7;">
                    <td width="25"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="25" height="1"></td>
                    <td width="175" valign="top" style="font-size:12px;line-height:16px;"><strong><span class="footer">WICHTIGER HINWEIS</span></strong></td>
                    <td style="font-size:12px;line-height:16px;"><span class="footer"> Diese E-Mail wurde automatisch erstellt und versendet und erreicht nur Kontakte der Garbe Immobilien Projekte GmbH. Bitte antworten Sie nicht auf diese E-Mail sondern wenden Sie sich an
                        {% with 'style="color:#333333;" href="mailto:info@roots-hamburg.de"'|safe as a_attr %}
                                            {% blocktrans trimmed %}
                                            <a {{ a_attr }}>info@roots-hamburg.de</a>
                                            {% endblocktrans %}
                                        {% endwith %}
                    </span></td>
                    <td width="25"><img src="hhttps://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="25" height="1"></td>
                </tr>
                <tr>
                    <td colspan="4"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="600" height="25"></td>
                </tr>
                <tr>
                    <td width="25"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="25" height="1"></td>
                    <td width="175" valign="top" style="font-size:12px;line-height:16px;"><strong><span class="footer">IMPRESSUM</span></strong></td>
                    <td style="font-size:12px;line-height:16px;"><span class="footer">Garbe Immobilien-Projekte GmbH<br>
                            
Versmannstraße 2<br>
20457 Hamburg<br><br>

Tel. 040 - 35 61 3 - 0<br>
Fax 040 - 35 39 93<br>

                        {% with ' href="mailto:info@roots-hamburg.de"'|safe as a_attr %}
                                            {% blocktrans trimmed %}
                                            <a {{ a_attr }}>info@roots-hamburg.de</a>
                                            {% endblocktrans %}
                                        {% endwith %}

                            <br>
                            Geschäftsführer:
Fabian von Köppen, Tobias Hertwig<br>

Registergericht:
Amtsgericht Hamburg, HRB 125672<br>

Umsatzsteuer-Identifikationsnummer:
DE277365586
                            <br><br>Copyright © Garbe Immobilien Projekte GmbH. <br>Alle Rechte reserviert. 2021
                        </span></td>
                    <td width="25"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="25" height="1"></td>
                </tr>
                <tr>
                    <td colspan="4"><img src="https://roots-hamburg.de/fileadmin/user_upload/clear.gif" width="25" height="40"></td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
